.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}


.container > p{
    font-size: 30px;
    text-transform: capitalize;
    width :50%;
    line-height: 66px;
}