p{
    padding: 2rem;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
    padding: 2rem;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: white;
}