    <mat-toolbar color="primary">
      <span>My App</span>
      <span class="example-spacer"></span>
      <nav>
        <ul>
          <li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
          <li><a routerLink="template" routerLinkActive="active" ariaCurrentWhenActive="page">Template driven Forms</a></li>
          <li><a routerLink="reactive" routerLinkActive="active" ariaCurrentWhenActive="page">reactive forms</a></li>
        </ul>
      </nav>
    </mat-toolbar>  
  