<div class="container">
    <p>template-driven-forms !</p>

</div>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>FullName</mat-label>
      <input matInput placeholder="John smith" value="John smith">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" value="Jogn.smith@gmail.com">
      </mat-form-field>

  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>

    <section>
        <div class="example-button-row">
          <button mat-raised-button color="primary">save</button>
        </div>
      </section>
  </form>
